@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
  --color-accent-500: #f59e0b;
  --color-danger-500: #ef4444;
  --color-success-500: #10b981;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
